<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for model in models %}
    <li>
        <b>Item ID:</b> {{ model['id'] }}<br> 
        <b>Item ID:</b> {{ model['name'] }}<br>
        <form action="{{ url_for('train_model', model_id=model['id']) }}" method="post" enctype="multipart/form-data">
            <input type="submit" value="Upload">
        </form>
    </li>
    {% endfor %}
</body>
</html>